<% cache [ project, current_user.role ] do %>
  <%= turbo_frame_tag dom_id(project) do %>
    <tr>
      <td><%= link_to project.name, project_path(project) %></td>
      <td class="muted"><code><%= project.slug %></code></td>
      <td><%= project.locales_count %></td>
      <td><%= project.namespaces_count %></td>
      <td><%= project.translation_keys_count %></td>
      <td>
        <% if current_user.admin? %>
          <%= link_to "Edit", edit_project_path(project), class: "btn-link" %>
          <%= button_to "Delete",
                project_path(project),
                method: :delete,
                class: "btn-link",
                data: { turbo_confirm: "Delete project \"#{project.name}\"? This cannot be undone." } %>
        <% end %>
      </td>
    </tr>
  <% end %>
<% end %>
